/* Colors */
$gray: #343b3f;
$pink: #c42476;
$wheat: #dad9cc;

/* Fonts */
$heading-font: azo-sans-web, sans-serif;
$body-font: azo-sans-web, sans-serif;

/* Breakpoints */
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
