/* Modals*/

@-webkit-keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
    }
}

/* Full page modal */
.modal__wrapper {
    @extend .t--center;
    @extend .vertical-align;
    pointer-events: none;
    opacity: 0;
    right: 0;
    left: 0;
    height: 100%;
    position: fixed;
    display: none;
    background-color: $pink;
    @include animation(fadeInFromNone 0.25s both);
    &:target {
        opacity: 1;
        pointer-events: auto;
        z-index: 99;
        display: block;
    }
    .modal__container {
        @include outer-container;
        @extend .vertical-align;
        @extend .t--left;
        @extend .t--gray;
        margin-top: -30px;
        h1 { 
            margin-top: 0;
            @include transition(all .2s ease-in);
            &:hover { color: darken($wheat, 10%); }
        }
    }
    &.two {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.three {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.four {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.five {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.six {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.seven {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.eight {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.nine {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.ten {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.eleven {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.twelve {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.thirteen {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.fourteen {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
    &.fifteen {
        background-color: $wheat;
        .sentence-icon {
            @extend .d--inline-block;
            margin-left: 7px;
            width: 10px;
            height: 51px; 
            svg { 
                width: 100%; 
                height: 100%;
                fill: $gray;
            }
        }
    }
}

.modal-box--open { text-decoration: none; }
.modal-box--close {
    @extend .t--center;
    @extend .d--block;
    border-radius: 50%;
    text-decoration: none;
    width: 50px;
    height: 50px;
}

.back-button {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}