
/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font: {
        size: 1.6rem;
        family: $primary-font; // variables inside partials > _variables.scss
    }
    color: $color-6;
    background-color: $gray;
    @include font-smoothing;

    &::before {
        /* never visible - this is used in jQuery to check the current MQ */ 
        content: 'mobile';
        display: none;
    }

    @include MQ(L) {
        
        &::before {
            /* never visible - this is used in jQuery to check the current MQ */ 
            content: 'desktop';
        }
    }
}

a {
    color: $pink;
    text-decoration: none;
    @include transition(0.2s all ease-in);
    &:hover {color: $gray;}

}

/* -------------------------------- 

Main Components 

-------------------------------- */

body[data-hijacking="on"] {
    
    @include MQ(L) {
        overflow: hidden;
    }
}

.cd-section {
    height: 100vh;

    .cd-section__wrapper {
        line-height: 100vh;
        font-size: 2.4rem;
        margin: 0 auto;
        max-width: 1200px;
        height: 100vh;
    }

    .cd-section__container {
        @extend .vertical-align;
        line-height: 1.5;
        padding: 0 30px;
        @include MQ(M) { 
            padding: 0 60px; 
            max-width: 400px
        }
        @include MQ(L) {
            max-width: 700px;
        }
        .how-to-use {
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: .25px;
            font-weight: 700;
            padding: 20px 30px;
            border-radius: 3px;
        }
        .punctuation-title {
            margin-top: 30px;
        }

        .punctuation-body {
            margin: 0 0 15px;
            @include MQ(M) { margin-bottom: 30px; }
            @include MQ(L) { margin-bottom: 40px; }
        }

        //Punctuation container
        &.punctuation-container {
            @include MQ(M) {
                max-width: 600px;
                width: 50%;
            }
            color: $gray;
        }
        //Icon container 
        &.icon__container {
            display: none;
            svg { 
                @extend .vertical-align; 
                @include MQ(M) {
                    height: 100%;
                    width: 100%
                }
            }
            @include MQ(M) {
                display: block;
                float: left;
                max-width: 500px;
                width: 50%;
                height: 50vh;
                text-align: center;
            }
            @include MQ(L) {
                max-width: 600px;
            }
        }

        //Mobile only icon
        .punctuation-icon--mobile {
            @include MQ(M) { display: none; }
        }

        //First slide
        &.one {
            @include MQ(M) { 
                max-width: 400px; 
            }
            @include MQ(L) { 
                max-width: 700px; 
            }
            color: $wheat;
        }
        &.one-icon {
            fill: $gray;
        }

        //Second slide
        &.two {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: .75px;
                font-size: 12px;
                margin: 5px 0px;
            }
            .how-to-use {
                background-color: $pink;
                color: #fff;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #fff;
                    color: #c42476;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 30px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

        //Third Slide
        &.three {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .how-to-use {
                background-color: #fff;
                color: #1c1c1c;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #c42476;
                    color: #fff;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 10px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

        //Fourth Slide
        &.four {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .how-to-use {
                background-color: #fff;
                color: #1c1c1c;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #1c1c1c;
                    color: #fff;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 10px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

        //Five Slide
        &.five {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .how-to-use {
                background-color: #fff;
                color: #1c1c1c;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #1c1c1c;
                    color: #fff;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 10px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

        //Six Slide
        &.six {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .how-to-use {
                background-color: #fff;
                color: #1c1c1c;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #1c1c1c;
                    color: #fff;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 10px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

        //Seven Slide
        &.seven {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .how-to-use {
                background-color: #fff;
                color: #1c1c1c;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #1c1c1c;
                    color: #fff;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 10px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

        //Eight Slide
        &.eight {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .how-to-use {
                background-color: #fff;
                color: #1c1c1c;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #1c1c1c;
                    color: #fff;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 10px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

        //Nine Slide
        &.nine {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .how-to-use {
                background-color: #fff;
                color: #1c1c1c;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #1c1c1c;
                    color: #fff;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 10px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

        //Ten Slide
        &.ten {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .how-to-use {
                background-color: #fff;
                color: #1c1c1c;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #1c1c1c;
                    color: #fff;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 10px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

        //Eleven Slide
        &.eleven {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .how-to-use {
                background-color: #fff;
                color: #1c1c1c;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #1c1c1c;
                    color: #fff;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 10px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

        //Twelve Slide
        &.twelve {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .how-to-use {
                background-color: #fff;
                color: #1c1c1c;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #1c1c1c;
                    color: #fff;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 10px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

        //Thirteen Slide
        &.thirteen {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .how-to-use {
                background-color: #fff;
                color: #1c1c1c;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #1c1c1c;
                    color: #fff;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 10px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

        //Fourteen Slide
        &.fourteen {
            float: left;
            .tag {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .how-to-use {
                background-color: #fff;
                color: #1c1c1c;
                @include transition(0.2s all ease-in);
                &:hover {
                    background-color: #1c1c1c;
                    color: #fff;
                }
            }
            .punctuation-icon--mobile {
                fill: white;
                width: 10px;
                height: 26px;
                margin-right: 10px;
                margin-bottom: -2px;
            }
        }

    }

    h2 { margin: 0; }

    &:first-of-type > div {
        background-image: url(../imgs/bg-bazin.jpg);
        height: 100vm;

        &::before {
            /* alert -> all scrolling effects are not visible on small devices */
            position: absolute;
            width: 100%;
            text-align: center;
            top: 20px;
            z-index: 2; 
            font-weight: bold;
            font-size: 1.3rem;
            text-transform: uppercase;
            color: tint($color-1, 30%);
        }
    }

    &:nth-of-type(2) > div {
        background-color: $wheat;
    }

    &:nth-of-type(3) > div {
        background-color: $white;
    }

    &:nth-of-type(4) > div {
        background-color: $lightgray;
    }

    &:nth-of-type(5) > div {
        background-color: $white;
    }

    &:nth-of-type(6) > div {
        background-color: $wheat;
    }

    &:nth-of-type(7) > div {
        background-color: $wheat;
    }

    &:nth-of-type(8) > div {
        background-color: $wheat;
    }

    &:nth-of-type(9) > div {
        background-color: $wheat;
    }

    &:nth-of-type(10) > div {
        background-color: $wheat;
    }

    &:nth-of-type(11) > div {
        background-color: $wheat;
    }

    &:nth-of-type(12) > div {
        background-color: $wheat;
    }

    &:nth-of-type(13) > div {
        background-color: $wheat;
    }

    &:nth-of-type(14) > div {
        background-color: $wheat;
    }

    &:nth-of-type(15) > div {
        background-color: $wheat;
    }

    [data-animation="parallax"] & > div,
    [data-animation="fixed"] & > div,
    [data-animation="opacity"] & > div {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    [data-animation="parallax"] &:first-of-type > div,
    [data-animation="fixed"] &:first-of-type > div,
    [data-animation="opacity"] &:first-of-type > div {
        // background-image: url('../img/img-1.jpg');
    }

    [data-animation="parallax"] &:nth-of-type(2) > div,
    [data-animation="fixed"] &:nth-of-type(2) > div,
    [data-animation="opacity"] &:nth-of-type(2) > div {
        background-image: url('../img/img-2.jpg');
    }

    [data-animation="parallax"] &:nth-of-type(3) > div,
    [data-animation="fixed"] &:nth-of-type(3) > div,
    [data-animation="opacity"] &:nth-of-type(3) > div {
        background-image: url('../img/img-3.jpg');
    }

    [data-animation="parallax"] &:nth-of-type(4) > div,
    [data-animation="fixed"] &:nth-of-type(4) > div,
    [data-animation="opacity"] &:nth-of-type(4) > div {
        background-image: url('../img/img-4.jpg');
    }

    [data-animation="parallax"] &:nth-of-type(5) > div,
    [data-animation="fixed"] &:nth-of-type(5) > div,
    [data-animation="opacity"] &:nth-of-type(5) > div {
        background-image: url('../img/img-5.jpg');
    }

    @include MQ(L) {

        h2 {
            font-size: 4rem;
            font-weight: 300;
        }

        [data-hijacking="on"] & {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            > div {
                visibility: visible;
            }
        }

        [data-hijacking="off"] & > div {
            opacity: 0;
        }

        [data-animation="rotate"] & {
            /* enable a 3D-space for children elements */
            @include perspective(1800px);
        }

        [data-hijacking="on"][data-animation="rotate"] &:not(:first-of-type) {
            @include perspective-origin(center 0);
        }

        [data-animation="scaleDown"] & > div,
        [data-animation="gallery"] & > div,
        [data-animation="catch"] & > div {
            // box-shadow: 0 0 40px rgba(darken($color-1, 10%), .4);
            box-shadow: 0 0 0 rgba(darken($color-1, 10%), .4);
        }

        [data-animation="opacity"] &.visible > div {
            z-index: 1;
        }
    }
}

@include MQ(L) {
    .cd-section:first-of-type > div::before {
        display: none;
    }
}

.cd-section > div {

    @include MQ(L) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        
        /* Force Hardware Acceleration */
        @include transform(translateZ(0));
        @include backface-visibility(hidden);

        [data-hijacking="on"] & {
            position: absolute;
        }

        [data-animation="rotate"] & {
            @include transform-origin(center bottom);
        }
    }
}

.cd-vertical-nav {
    /* lateral navigation */
    position: fixed;
    z-index: 2;
    right: 3%;
    @include center(y);
    display: none;

    a {
        display: block;
        height: 30px;
        width: 30px;

        /* image replace */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;

        background: url(../imgs/cd-icon-arrow.svg) no-repeat center center;

        &.cd-prev {
            @include transform(rotate(180deg));
            margin-bottom: 30px;
        }

        &.inactive {
            visibility: hidden;
            opacity: 0;
            @include transition(opacity 0.2s 0s, visibility 0s 0.2s);
        }
    }

    @include MQ(L) {
        display: block;
    }
}
