/* Font styling */

h1, h2, h3, h4 {
    font-family: $heading-font;
    font-weight: 600;
}

h1 { 
    font-size: 60px; 
    margin-top: 0;
}

p {
    font-family: $body-font;
    font-size: 18px;
    line-height: 1.75;
    font-weight: 200;
}