/* Styling across all pages */

/* Nav modal */
.nav__links, .nav__content { @include span-columns(6); }

.nav__link {
    text-decoration: none;
    color: $wheat;
    h1 { margin-bottom: 0; }
}


/* Content area */
.bg--stardust {
    background: url('/imgs/stardust.png') $gray repeat center center;
}


.splash-logo { margin-bottom: 30px; }