/* Styling across all pages */

/* Nav modal */
.nav__links, .nav__content { @include span-columns(6); }

.nav__link {
    text-decoration: none;
    color: $wheat;
    h1 { margin-bottom: 0; }
}

/* Content area */
.bg--stardust {
    background: url("imgs/stardust.png") $gray repeat center center;
}

.splash-logo { 
	width: 225px;
	fill: #656f76;
}

header {
	height: auto;
}

.social{
	float: right;
}

.social-icon {
	width: 50px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	opacity: 0.5;
    @include transition(all .2s ease-in);
    &:hover {
    	opacity: 0.25;
    }

}