<section>
    {{#each marks}}
    <tr>
        <td>{{fullName person}}</td>
        <td>{{jobTitle}}</td>
        <td><a href="https://twitter.com/{{twitter}}">@{{twitter}}</a></td>
    </tr>
    {{/marks}}
</section>
