<nav>
    <div class="nav__container">
        {{> pp-logo}}
        <div class="link__container">
            <a href="#modal-box--open" class="modal-box--open"><div class="link__circle"><span class="info-icon">i</span></div></a>
            <div class="link__circle">
                <span class="box-icon"></span>
            </div>
        </div>
    </div>
</nav>