{{> header}}

    <body class="bg--stardust">
    {{> nav}}
     <!-- Info modal -->
    <div id="modal-box--open" class="modal__wrapper">
        <a href="#modal-box--close" class="modal-box--close"></a>
        <div class="modal__container">
            <div class="nav__links vertical-middle">
                <a href="#" class="nav__link"><h1>About</h1></a>
                <a href="#" class="nav__link"><h1>Resources</h1></a>
                <a href="#" class="nav__link"><h1>Credits</h1></a>
                <a href="#" class="nav__link"><h1>Contact</h1></a>
            </div>
            <div class="nav__content">
                <p class="t--wheat">The future of our communication start now. Please share the site to help bring these lost punctuation marks into our written language. Together we can stop misinterpretations forever!</p>

                <p class="t--wheat">For centuries, authors and typographers have been developing special punctuation marks to help bridge the gap and increase clarity. Deemed extraneous and unorthodox, these marks haven’t secured a permanent place in our writing. Today, at a time when email, social media, and texting have defined our written communication, there is an undeniable need to revisit these symbols.</p>
            </div>
        </div>
    </div>

    <main class="content__wrapper">
        <div class="content__container">
            <!-- Intro section -->
            <div class="intro">
                <h1 class="t--wheat">A look back at the <span class="t--pink">future</span> of our communication.</h1>
                <p class="t--wheat">A collection of little-known, non-standard punctuation marks, curated with the goal of bringing them to acceptance in today’s written language.</p>
            </div>
        </div>
    </main>
{{> footer}}
