{{> header}}

    <body data-hijacking="on" data-animation="fixed">

    <section class="cd-section visible">
        <div>
            <div class="cd-section__wrapper">
                <div class="cd-section__container one">
                    <img src="imgs/pp-logo.svg" class="splash-logo">
                </div>
                <div class="cd-section__container one">
                    <h1>A look back at the future of our communication.</h1>
                    <form accept-charset="UTF-8" action="https://formkeep.com/f/02a9f26cdc8e" method="POST">
                    <label class="form-label">We'll send you an email when we launch (no spam, ever).</label>
                    <input id="modal-company-name" type="text" placeholder="bill@itsbill.com" name="email">
                     <input type="hidden" name="utf8" value="✓">
                     <button type="submit" class="form-button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{{> footer}}
